<div class="wrapper">
    <div class="wrapper-content">
        <div class="Bookshelf">
            <h1>bookshelf.</h1>
        </div>
        <div class="gradient w-100 overflow-hidden">
            <div class="category-container w-100 d-flex flex-column">
                <h1 id="card-top5-title" class="align-self-start">Latest Books</h1>
                <p id="card-top5-description" class="align-self-start">See the latest additions of our bookshelf!</p>
                <div class="card-container d-flex flex-row flex-wrap justify-content-start">
                    <div id="card-top5" class="flex-shrink-0" *ngFor="let book of books">
                        <mat-card (click)="navigateToBook(book._id)">
                            <mat-card-header>
                                <mat-card-title class="title">{{ book.title }}</mat-card-title>
                                <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
                            </mat-card-header>
                            <img id="card-top5-img" mat-card-image class="w-90 book-image img-fluid" src="https://th.bing.com/th/id/OIP.OFdwMP8vt4tlo2L0pYGpXQAAAA?rs=1&pid=ImgDetMain" alt="{{ book.title }}">
                            <mat-card-content>
                                <p>{{ formatDate(book.release) }}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="gradient-right w-100 overflow-hidden">
            <div class="category-container-right d-flex flex-column w-100">
                <h1 id="card-top5-title-right" class="">Popular Books</h1>
                <p id="card-top5-description-right" class="">Take a look at the most popular items of our selection!</p>
                <div class="card-container-right d-flex flex-row flex-wrap justify-content-start">
                    <div id="card-top5" class="flex-shrink-0 card-top5-rightsided" *ngFor="let book of books">
                        <mat-card (click)="navigateToBook(book._id)">
                            <mat-card-header>
                                <mat-card-title class="title">{{ book.title }}</mat-card-title>
                                <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
                            </mat-card-header>
                            <img id="card-top5-img" mat-card-image class="book-image w-90 img-fluid" src="https://th.bing.com/th/id/OIP.OFdwMP8vt4tlo2L0pYGpXQAAAA?rs=1&pid=ImgDetMain" alt="{{ book.title }}">
                            <mat-card-content>
                                <p>{{ formatDate(book.release) }}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!isLoggedIn" class="loginSegment d-flex justify-content-center align-items-center">
            <div class="text-center w-100">
                <h1>Welcome to Bookshelf! Please log in or register to continue.</h1>
                <p class="w-75 mx-auto">
                    At Bookshelf, we believe every book deserves a voice. Our platform lets you rate, 
                    review, and explore book summaries, helping readers discover hidden gems. Join our community to share insights, 
                    find your next great read, and shape the world of literature—one review at a time!                
                </p>
                <div class="d-flex justify-content-center gap-3">
                    <button class="loginSegment-button" mat-fab extended (click)="navigateTo('auth/register')">
                        <mat-icon >person_add</mat-icon>
                        Register
                      </button>
                      <button class="loginSegment-button" mat-fab extended (click)="navigateTo('auth/login')">
                        <mat-icon>login</mat-icon>
                        Login
                      </button>
                </div>
            </div>
        </div>
    </div>
</div>