.text-justify {
    text-align: justify;
}

.example-container {
    height: 100%;
}

.home-side-drawer {
    width: 50% !important;
    overflow-y: auto;
    height: 100%;
    padding: 1rem;

    div.mat-drawer-inner-container {
        scrollbar-width: 100px;
        scrollbar-color: #5A7D9A transparent;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #5A7D9A;
            border-radius: 6px;
            border: 2px solid transparent;
            background-clip: padding-box;
        }
    }
}

@media (max-width: 650px) {
    .home-side-drawer {
        width: 75% !important;
    }
}

.ripple {
    min-height: 150px;
    background-color: cadetblue;
}


.book-card {
    justify-self: center;

    img {
        max-height: 150px;
        object-fit: contain;
    }
}

.truncate-title {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.title {
    word-break: break-word;
    overflow-wrap: break-word;
}

.subtext {
    color: #888;
}

@media (max-width: 835px) {
    .title {
        font-size: 1rem;
    }
}

@media (max-width: 650px) {
    .title {

        font-size: 0.9rem;
    }
}

.card-holder {
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

body {
    .card-holder:hover {
        filter: brightness(.9);
    }

    &.darkMode {
        .card-holder {
            -webkit-box-shadow: 2px 4px 3px rgba(255, 255, 255, 0.1), 4px 2px 3px rgba(255, 255, 255, 0.2);
            -moz-box-shadow: 2px 4px 3px rgba(255, 255, 255, 0.1), 4px 2px 3px rgba(255, 255, 255, 0.2);
            box-shadow: 2px 4px 3px rgba(255, 255, 255, 0.1), 4px 2px 3px rgba(255, 255, 255, 0.2);

            &:hover {
                -webkit-box-shadow: 2px 4px 3px rgba(255, 255, 255, 0.2), 4px 2px 3px rgba(255, 255, 255, 0.75);
                -moz-box-shadow: 2px 4px 3px rgba(255, 255, 255, 0.2), 4px 2px 3px rgba(255, 255, 255, 0.75);
                box-shadow: 2px 4px 3px rgba(255, 255, 255, 0.2), 4px 2px 3px rgba(255, 255, 255, 0.75);
                filter: brightness(1.25);
            }
        }
    }
}