#Book-Details {
    padding: 10px;
}

@media (min-width: 768px) {
    #Book-Details {        
        padding: 0;
        padding-left: 30px;
    }
}

@media (min-width: 576px) {
    .review-content{
        padding: 16px 24px;   
    }
}

.user-profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

// .backButton {
//     margin-top: 2.5rem;
//     margin-bottom: 2.5rem;
//     float: right;
//     border-radius: 20%;
// }

.mw-80 {
    max-width: 100%;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.button-row {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 0;
    padding: 0;
}

.starButton {
    margin-bottom: 1rem;
    padding: 0;
    max-width: 20%;
}

.existing-review-star{
    pointer-events: none;
}