<div class="wrapper">
    <div class="wrapper-content h-100">
        <div class="book-item d-flex align-items-start row w-100 h-100">
            <div id="Book" class=" col-12 col-lg-2 d-flex h-100">
                <mat-card class="book-card w-100">
                    <mat-card-header>
                        <img mat-card-image class="book-image img-fluid" [src]="book?.image || 'https://th.bing.com/th/id/OIP.OFdwMP8vt4tlo2L0pYGpXQAAAA?rs=1&pid=ImgDetMain'" [alt]="book?.title || 'Photo of a book'">
                    </mat-card-header>
                    <mat-card-content>
                        <mat-card-subtitle>{{ book?.author }}</mat-card-subtitle>
                        <mat-card-title class="title">{{ book?.title }}</mat-card-title>
                        <p>{{ formatDate(book?.release) }}</p>
                        <form class="form-row" *ngIf="isLoggedIn"  [formGroup]="reviewForm" (ngSubmit)="onSubmitReview()">
                            <mat-form-field class="mw-80" appearance="fill">
                                <mat-label>Content</mat-label>
                                <textarea matInput formControlName="content"></textarea>
                            </mat-form-field>
                            <div class="button-row">
                                <button class="starButton" mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" (click)="onClick(i+1)">
                                    <mat-icon>
                                    {{showIcon(i)}}
                                    </mat-icon>
                              </button>                                 
                            </div>
                              <mat-error *ngIf="starCount == null || starCount == 0">
                                Star count is <strong>required</strong> and cannot be zero
                              </mat-error>
                              <p class="body-2">
                                  Your rated <span class="body-2">{{rating}}</span> / <span class="body-2">{{starCount}}</span>
                              </p>
                            <button mat-raised-button color="primary" type="submit">Submit</button>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
            <div id="Book-Details" class="book-details col-12 col-lg-8">
                <h2>{{ book?.title }}</h2>
                <p>{{ book?.author }}</p>
                <p>{{ formatDate(book?.release) }}</p>
                <p>{{ book?.description }}</p>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Reviews</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div *ngIf="reviews.length == 0">
                            <p>No reviews yet, but you can write yours anytime!</p>
                        </div>
                        <div *ngFor="let review of paginatedReviews"> 
                            <div class="review-header">
                                <img class="user-profile-picture" [src]="review.user.imageUrl ?? './assets/images/bingus.webp'" />
                                <span class="username">{{review.user.username}}</span>
                            </div>
                            
                            <button mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i">
                                <mat-icon>
                                    {{showIconUserReview(i, review.score / 2)}}
                                </mat-icon>
                            </button>
                            <p>
                                {{review.content}}                          
                            </p>
                            <p>{{formatDate(review.added_at)}}</p>
                            <hr>
                        </div>
                        <mat-paginator [length]="reviews.length" [pageSize]="pageSize" [pageSizeOptions]="[10, 15, 20]" (page)="onPageChange($event)">
                        </mat-paginator>
                    </mat-card-content>
                </mat-card>
                <button class="backButton" mat-raised-button color="primary" (click)="onBack()">Back</button>
            </div>
        </div>
    </div>
</div>