#Book-Details {
    padding: 10px;
}

@media (min-width: 768px) {
    #Book-Details {
        padding: 0;
        padding-left: 30px;
    }
}

@media (min-width: 576px) {
    .review-content {
        padding: 16px 24px;
    }
}

.book-item-desc {
    text-align: justify;
}

.mw-80 {
    max-width: 100%;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.button-row {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 0;
    padding: 0;
}

.user-profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

// .starButton {
//     margin-bottom: 1rem;
//     padding: 0;
//     max-width: 20%;
// }

.existing-review-star {
    pointer-events: none;
}

.review-card {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.starButton {
    margin: 0 0.25rem;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.book-image {
    width: 100%;    
    aspect-ratio: 3 / 4;
    object-fit: cover;
}

#book-item-submit{
    background-color: #2196F3;
    color: white;

    mat-icon {
        color: white;
    }
}