button.bc-start-btn{
    background-color: #2196F3 !important;
    color: white !important;

    mat-icon {
        color: white !important;
    }
}

button.bc-del-btn{
    background-color: #F44336 !important;
    color: white !important;

    mat-icon {
        color: white !important;
    }
}