<div class="wrapper">
    <div class="wrapper-content">
        <div class="d-flex flex-column">
            <div id="Searchbar" class="d-flex justify-content-center">
                <mat-form-field class="w-50 m-5">
                    <input matInput type="search" [(ngModel)]="searchTerm" (input)="filterBooks()">
                </mat-form-field>
                <button mat-fab extended class="m-5" (click)="filterBooks()">
                    <mat-icon>search</mat-icon>
                    {{ 'BOOKS.SEARCHBAR.BUTTON' | translate }}
                </button>
            </div>
            <div id="Filters" class="d-flex justify-content-center">
                <button id="TitleDesc" mat-fab class="m-5" (click)="sortBooks('title', 'desc')">
                    <mat-icon>filter_list</mat-icon>
                </button>
                <button id="TitleAsc" mat-fab class="m-5" (click)="sortBooks('title', 'asc')">
                    <mat-icon>filter_list</mat-icon>
                </button>
                <button id="AuthorDesc" mat-fab class="m-5" (click)="sortBooks('author', 'desc')">
                    <mat-icon>filter_list</mat-icon>
                </button>
                <button id="AuthorAsc" mat-fab class="m-5" (click)="sortBooks('author', 'asc')">
                    <mat-icon>filter_list</mat-icon>
                </button>
            </div>
            <div id="Books" class="d-flex flex-column justify-content-center">
                <div class="book-cards row w-100">
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let book of filteredBooks">
                        <mat-card class="book-card" (click)="navigateToBook(book._id)">
                            <mat-card-header>
                                <mat-card-title class="title">{{ book.title }}</mat-card-title>
                                <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image class="book-image img-fluid"
                                src="https://th.bing.com/th/id/OIP.OFdwMP8vt4tlo2L0pYGpXQAAAA?rs=1&pid=ImgDetMain"
                                alt="{{ book.title }}">
                            <mat-card-content>
                                <p>{{ formatDate(book.release) }}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <custom-paginator [pageSizeOptions]="[5, 10, 25]" [totalPages]="this.maxPages"
                    [pageSize]="this.pageSize" [pageIndex]="this.currentPageIndex"
                    (pageChanged)="this.changePage($event)" />
            </div>
        </div>
    </div>
</div>