<div class="wrapper">
    <div class="w-100 h-100" id="books-main">
        <div class="w-100">
            <mat-card>
                <mat-card-content class="d-block w-100 mx-auto">
                    <h1 class="display-3 text-center mt-3" id="books-header"><b>{{ 'BOOKS.HEADER' | translate }}</b>
                    </h1>
                    <div class="row my-3">
                        <mat-form-field class="w-50 mx-auto">
                            <mat-label>
                                <mat-icon class="me-2">search</mat-icon>
                                {{ 'BOOKS.SEARCHBAR.BUTTON' | translate }}
                            </mat-label>
                            <input matInput type="search" [(ngModel)]="searchTerm" (input)="filterBooks()">
                        </mat-form-field>
                    </div>
                    <custom-paginator [pageSizeOptions]="[5, 10, 25]" [totalPages]="this.maxPages"
                        [pageSize]="this.pageSize" [pageIndex]="this.currentPageIndex" [showSortingMenu]="true"
                        [itemType]="'book'" (sortingChanged)="this.sortItems($event)"
                        (pageChanged)="this.changePage($event)" />

                </mat-card-content>
            </mat-card>
        </div>
        <div id="Books" class="d-flex flex-column justify-content-center align-items-center mt-3">
            <div class="col-12 col-md-6 col-lg-4">
                <button mat-fab (click)="this.navigateToCreate()" class="w-100">
                    <mat-icon class="me-2">add</mat-icon>
                    {{ 'BOOKS.ADD' | translate }}
                </button>
            </div>
            <div class="book-cards row w-100">
                <div class="col-12 col-sm-6 col-lg-3 mb-4" *ngFor="let book of filteredBooks">
                    <mat-card class="w-100 card-holder" (click)="navigateToBook(book._id)">
                        <mat-card-content>
                            <mat-card class="book-card" appearance="outlined">
                                <img mat-card-image class="book-image w-100"
                                    src="https://th.bing.com/th/id/OIP.OFdwMP8vt4tlo2L0pYGpXQAAAA?rs=1&pid=ImgDetMain"
                                    alt="{{ book.title }}">
                                <mat-divider class="my-2" />
                                <mat-card-title class="text-center">{{ book.title }}</mat-card-title>
                                <mat-card-subtitle class="text-center">{{ book.author }}</mat-card-subtitle>
                                <mat-card-content class="text-center">
                                    <p>{{ formatDate(book.release) }}</p>
                                </mat-card-content>
                            </mat-card>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>