#books-header {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.book-image {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 8px;
}

.card-author {
    text-align: center;
    width: 100%;
}

#card-holder {
    &:hover {
        cursor: pointer;
        filter: brightness(1.1);
        transform: scale(1.05);
        transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
    }
}

.book-card {
    // margin: 10px;
    // max-width: 20vw;
    min-width: 200px;
    justify-self: center;
    font-size: calc(1vw + 1vh);

    /* Adjust font size based on viewport width and height */
    img {
        max-height: 200px;
        object-fit: contain;
    }
}

.title {
    word-break: break-word;
    /* Break words when they overflow */
    overflow-wrap: break-word;
    /* Ensure long words break and wrap to the next line */
}

@media (max-width: 835px) {
    .title {
        font-size: 1rem;
    }
}

@media (max-width: 650px) {
    .title {

        font-size: 0.9rem;
    }
}