@if(this.data.type === 'delete'){
<h2 mat-dialog-title>{{ 'STANDALONECOMPONENTS.EXPANSIONITEM.DIALOG.DELETE.HEADER' | translate }}?</h2>
<mat-dialog-content>
    {{ 'STANDALONECOMPONENTS.EXPANSIONITEM.DIALOG.DELETE.MESSAGE' | translate }}
</mat-dialog-content>
<mat-dialog-content>
    <div><b>Id: </b>{{ this.data.item?._id }}</div>
    @if( this.data.item?.type === 'user' ){
    <div><b>{{ 'STANDALONECOMPONENTS.EXPANSIONITEM.DIALOG.USER.USERNAME' | translate }}: </b>{{ this.data.item?.username }}</div>
    }
    @if( this.data.item?.type === 'book' ){
    <div><b>{{ 'STANDALONECOMPONENTS.EXPANSIONITEM.DIALOG.BOOK.TITLE' | translate }}: </b>{{ this.data.item?.title }}</div>
    <div><b>{{ 'STANDALONECOMPONENTS.EXPANSIONITEM.DIALOG.BOOK.USERID' | translate }}: </b>{{ this.data.item?.user_id }}</div>

    }
    @if( this.data.item?.type === 'review' ){
    <div><b>{{ 'STANDALONECOMPONENTS.EXPANSIONITEM.DIALOG.REVIEW.USER' | translate }}: </b>{{ this.data.item?.user.username }}</div>
    <div><b>UserId: </b>{{ this.data.item?.user._id }}</div>
    }
</mat-dialog-content>
<mat-dialog-actions>
    <button id="cancel" mat-raised-button (click)="emitResult(false)">{{ 'STANDALONECOMPONENTS.EXPANSIONITEM.DIALOG.DELETE.BUTTONNO' | translate
        }}</button>
    <button id="delete" mat-raised-button (click)="emitResult(true)">{{ 'STANDALONECOMPONENTS.EXPANSIONITEM.DIALOG.DELETE.BUTTONYES' | translate
        }}</button>
</mat-dialog-actions>
}
@if(this.data.type === 'edit') {
<h2 mat-dialog-title>{{ 'STANDALONECOMPONENTS.EXPANSIONITEM.DIALOG.EDIT.HEADER' | translate}}</h2>
<mat-dialog-content [formGroup]="form" id="edit-dialog">
    <div *ngFor="let field of config">
        <mat-form-field appearance="outline" class="my-3 w-100">
            <mat-label>{{ field.label }}</mat-label>
            <ng-container [ngSwitch]="field.type">
                <input *ngSwitchCase="'text'" matInput [formControlName]="field.name" />
                <input *ngSwitchCase="'number'" matInput type="number" [formControlName]="field.name" />
                <input class="py-1" *ngSwitchCase="'date'" matInput type="datetime" [formControlName]="field.name" />
                <textarea class="edit-dialog-textarea" *ngSwitchCase="'textarea'" matInput
                    [formControlName]="field.name"></textarea>
                <mat-select *ngSwitchCase="'select'" [formControlName]="field.name">
                    <mat-option *ngFor="let option of field.options" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-select>
            </ng-container>
            <mat-error *ngFor="let errorKey of getErrorKeys(field.name)">
                {{ field.errorMessages![errorKey] }}
            </mat-error>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button id="cancel" (click)="this.emitResult(false)">{{ 'STANDALONECOMPONENTS.EXPANSIONITEM.DIALOG.EDIT.BUTTONNO' | translate}}</button>
    <button mat-button id="save" color="primary" (click)="this.saveModification()" [disabled]="!this.form.valid">{{
        'STANDALONECOMPONENTS.EXPANSIONITEM.DIALOG.EDIT.BUTTONYES' | translate}}</button>
</mat-dialog-actions>
}