<div class="wrapper">
    <div class="wrapper-content" id="profile-container">
        <mat-card appearance="raised" class="profile-card  p-0">
            <mat-card-content>
                <div class="row">
                    <div class="col-12 col-lg-3 text-center">
                        <mat-card appearance="outlined" class="p-2">
                            <div class="profile-wrapper mx-auto w-50">
                                <img [src]="this.loggedInUser?.imageUrl ?? this.loggedInUser?.profile_image" alt="Profile Picture"
                                    class="w-100 h-100 rounded-circle">                                
                            </div>
                            <mat-card-title class="mt-1">{{ this.loggedInUser?.username }}</mat-card-title>
                            <hr class="my-2 w-75 mx-auto">
                            <mat-card-subtitle class="mt-2">{{ this.loggedInUser?.email }}</mat-card-subtitle>
                            <mat-card-subtitle class="mt-2">{{ 'PROFILE.PROFILECARD.ROLE' | translate }}:
                                {{ this.roleDataHead | translate }}</mat-card-subtitle>
                            <mat-card-subtitle class="mt-2">{{ 'PROFILE.PROFILECARD.CREATED' | translate
                                }}:</mat-card-subtitle>
                            {{ this.loggedInUser?.created_at! | localizedDate }}
                            <mat-card-subtitle class="mt-2">{{ 'PROFILE.PROFILECARD.UPDATED' | translate
                                }}:</mat-card-subtitle>
                            {{ this.loggedInUser?.updated_at! | localizedDate }}
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    {{ 'PROFILE.PROFILECARD.BUTTONS.OPTIONS' | translate }}
                                </mat-expansion-panel-header>
                                <button mat-fab extended class="w-75 mx-auto my-1 mt-3" id="edit-button">
                                    <mat-icon>edit</mat-icon>
                                    {{ 'PROFILE.PROFILECARD.BUTTONS.EDIT' | translate }}
                                </button>
                                <button mat-fab extended class="w-75 mx-auto my-1" id="delete-button">
                                    <mat-icon>delete</mat-icon>
                                    {{ 'PROFILE.PROFILECARD.BUTTONS.DELETE' | translate }}
                                </button>
                            </mat-expansion-panel>
                        </mat-card>
                    </div>
                    <div class="col-12 col-lg-9">                        
                        <h1 class="text-center">{{ 'PROFILE.LIST.HEADER' | translate }}</h1>
                        <all-type-display/>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>