<div class="wrapper">
    <div class="wrapper-content mx-5">
        <div class="row mt-5">
            <div class="col-12 col-sm-6 col-md-4">
                <mat-card appearance="raised" class="profile-card">
                    <mat-card-header>
                        <div class="profile-wrapper">
                            <img [src]="this.loggedInUser?.imageUrl" alt="Profile Picture"
                                class="rounded-circle w-100">
                        </div>
                        <div class="w-100 text-center">
                            <mat-card-title class="mt-1">{{ this.loggedInUser?.username }}</mat-card-title>
                            <hr class="my-2">
                            <mat-card-subtitle>{{ this.loggedInUser?.email }}</mat-card-subtitle>
                            <mat-card-subtitle>{{ 'PROFILE.PROFILECARD.ROLE' | translate }}:
                                {{ this.roleDataHead | translate }}</mat-card-subtitle>
                        </div>
                    </mat-card-header>
                    <hr class="my-2">
                    <mat-card-content>
                        <div class="text-center">
                            <mat-card-subtitle>{{ 'PROFILE.PROFILECARD.CREATED' | translate }}:</mat-card-subtitle>
                            {{ this.loggedInUser?.created_at! | localizedDate }}
                            <mat-card-subtitle>{{ 'PROFILE.PROFILECARD.LAST' | translate }}:</mat-card-subtitle>
                            {{ this.loggedInUser?.last_login! | localizedDate }}
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>