<div class="wrapper">
    <div class="wrapper-content">
        <div class="my-3 d-flex align-items-center justify-content-center">
            <button mat-fab extended (click)="changePaginatedArray('users')" [disabled]="this.disabledButton === 'users'">
                <mat-icon>person</mat-icon>
                {{ 'ADMIN.BUTTONS.USERS' | translate }}
            </button>
            <button mat-fab extended (click)="changePaginatedArray('books')" class="mx-3" [disabled]="this.disabledButton === 'books'">
                <mat-icon>library_books</mat-icon>
                {{ 'ADMIN.BUTTONS.BOOKS' | translate }}
            </button>
            <button mat-fab extended (click)="changePaginatedArray('reviews')" [disabled]="this.disabledButton === 'reviews'">
                <mat-icon>rate_review</mat-icon>
                {{ 'ADMIN.BUTTONS.REVIEWS' | translate }}
            </button>
        </div>
        <mat-paginator [length]="this.currentArrayInPaginator.length" [pageSize]="this.pageSize"
            [pageSizeOptions]="[5, 10, 25]">

        </mat-paginator>
        <mat-accordion>
            @for (item of this.currentArrayInPaginator; track $index) {
            <expansion-item [payload]="{ type: item.type, item : item}"></expansion-item>
            }
        </mat-accordion>
    </div>
</div>