<div class="wrapper">
    <div class="wrapper-content">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
            @if (errorMessages.length > 0) {
            <div class="alert alert-danger row mt-3" role="alert" #errorAlert>
                <div class="col-10">
                    <ul class="m-0">
                        @for (error of errorMessages; track $index) {
                        @if (error.error === "UNEXPECTED") {
                        <li>{{ 'AUTH.EMSG.UNEXPECTED' | translate }}</li>
                        } @else if (error.status === 0) {
                        <li>{{ 'AUTH.EMSG.HTTPERRORRESPONSE' | translate }}</li>
                        } @else{
                        <li>{{ error.status }}: {{ error.error.error }}</li>
                        }
                        }
                    </ul>
                </div>
                <div class="col-2 justify-content-center align-items-center d-flex">
                    <mat-icon>error_outline</mat-icon>
                </div>
            </div>
            }
        </div>
        <div class="my-3 mx-auto w-100 d-flex justify-content-center row">
            <div class="col-12 col-sm-4  mt-1">
                <button mat-fab extended (click)="changePaginatedArray('users')"
                    [disabled]="this.disabledButton === 'users'" class="w-100">
                    <mat-icon>person</mat-icon>
                    {{ 'ADMIN.BUTTONS.USERS' | translate }}
                </button>
            </div>
            <div class="col-12 col-sm-4 mt-1">
                <button mat-fab extended (click)="changePaginatedArray('books')"
                    [disabled]="this.disabledButton === 'books'" class="w-100">
                    <mat-icon>library_books</mat-icon>
                    {{ 'ADMIN.BUTTONS.BOOKS' | translate }}
                </button>
            </div>
            <div class="col-12 col-sm-4 mt-1">
                <button mat-fab extended (click)="changePaginatedArray('reviews')"
                    [disabled]="this.disabledButton === 'reviews'" class="w-100">
                    <mat-icon>rate_review</mat-icon>
                    {{ 'ADMIN.BUTTONS.REVIEWS' | translate }}
                </button>
            </div>
            <div class="col-12 col-sm-4 mt-1">
                <button mat-fab extended (click)="changePaginatedArray('summaries')"
                    [disabled]="this.disabledButton === 'summaries'" class="w-100">
                    <mat-icon>notes</mat-icon>
                    {{ 'ADMIN.BUTTONS.SUMMARIES' | translate }}
                </button>
            </div>
            <div class="col-12 col-sm-4 mt-1">
                <button mat-fab extended (click)="changePaginatedArray('comments')"
                    [disabled]="this.disabledButton === 'comments'" class="w-100">
                    <mat-icon>notes</mat-icon>
                    {{ 'ADMIN.BUTTONS.COMMENTS' | translate }}
                </button>
            </div>
        </div>
        <div class="mx-3 mb-5">
            <custom-paginator [pageSizeOptions]="[5, 10, 25]" [totalPages]="this.maxPages" [pageSize]="this.pageSize"
                [pageIndex]="this.currentPageIndex" (pageChanged)="this.changePage($event)" />
            <mat-accordion [@onChange]="this.animate">
                @for (item of this.currentArrayInPaginator; track $index) {
                <expansion-item [payload]="{ type: this.itemType, item : item}"
                    (onDialogResultTrue)="this.handleDialogRequest($event)"/>
                }
            </mat-accordion>
        </div>
    </div>
</div>