.spacer {
    margin-right: 20px;
}

.spacer-center {
    flex: 1 1 auto;
}

.theme-icon {
    transform: scale(1.2);
}

.app-icon{
    transform: scale(.6);
}

.theme-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu-icon {
    transform: scale(1.5);
}

button[routerLink] {
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.1);
      text-decoration: overline;
    }
  }
  