<mat-toolbar>
    <mat-toolbar-row>
        <img src="./assets/favicon.ico" alt="" class="app-icon" fxHide.lt-md>
        <button class="text-center" mat-button fxHide.gt-sm>
            <mat-icon class="menu-icon mx-auto" (click)="toggleSideNav()">menu</mat-icon>
        </button>
        <span>Bookshelf</span>
        <span class="spacer"></span>
        <div fxHide.lt-md>
            <button mat-button routerLink="home">{{ 'APP.MENU.HOME' | translate }}</button>
            <button mat-button routerLink="books">{{ 'APP.MENU.BOOKS' | translate }}</button>
            <button mat-button routerLink="summaries">{{ 'APP.MENU.SUMMARIES' | translate }}</button>
            @if(authService.getloggedInUser && ['user', 'editor', 'admin'].includes(authService.getloggedInUser.role)){
                <button mat-button routerLink="mylist">{{ 'APP.MENU.MYLIST' | translate }}</button>
            }
        </div>
        <span class="spacer-center"></span>
        <div fxHide.lt-md>
            @if(!authService.getloggedInUser){
                <button mat-button routerLink="auth/login">{{ 'APP.MENU.LOGIN' | translate }}</button>
                <button mat-button routerLink="auth/register">{{ 'APP.MENU.REGISTER' | translate }}</button>
            } @else {
                <button mat-button (click)="authService.logOut()">logout</button>
            }
        </div>
        <span class="spacer" fxHide.lt-md></span>
        <button mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="settingsIconState = 'clicked'">
            <mat-icon [@rotate]="settingsIconState">settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="p-2" (closed)="settingsIconState = 'default'">
            <div class="mb-4 theme-holder" (click)="$event.stopPropagation()">
                <mat-icon class="theme-icon" [@pulse]="!isdarkModeOn">wb_sunny</mat-icon>
                <mat-slide-toggle
                    class="mx-2"
                    (toggleChange)="changeTheme()"
                    [checked]="isdarkModeOn">
                </mat-slide-toggle>
                <mat-icon class="theme-icon" [@pulse]="isdarkModeOn">brightness_2</mat-icon>
            </div>
            <mat-button-toggle-group
                name="fontStyle"
                aria-label="Font Style"
                [value]="localizationToggleValue"
                (click)="$event.stopPropagation()">
                <mat-button-toggle value="en" (change)="changeLanguage($event)">EN</mat-button-toggle>
                <mat-button-toggle value="hu" (change)="changeLanguage($event)">HU</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>