<mat-form-field (click)="$event.stopPropagation()">
    <mat-label>{{ 'SORTITEMS.HEADER' | translate }}:</mat-label>
    <mat-select [(ngModel)]="this.selectedField" (selectionChange)="this.emitChangedValue()">
        <mat-option value="">---</mat-option>
        @for (field of this.sortedFields; track $index) {
        <mat-option [value]="field">{{ `SORTITEMS.FIELDS.${field.replaceAll('_', '').toLocaleUpperCase()}` |
            translate }}</mat-option>
        }
    </mat-select>
</mat-form-field>
<mat-radio-group class="mx-auto" (click)="$event.stopPropagation()" [(ngModel)]="this.mode" (change)="this.emitChangedValue()">
    <div>
        <mat-radio-button value="asc">{{ 'SORTITEMS.ASC' | translate }}</mat-radio-button>
    </div>
    <div>
        <mat-radio-button value="desc">{{ 'SORTITEMS.DESC' | translate }}</mat-radio-button>
    </div>
</mat-radio-group>