@media (max-width: 767px) {
    #form-card {
        background-color: transparent;
        border: none;
        box-shadow: none;

        mat-card-title {
            font-size: 2.5rem;
        }
    }
}

mat-stepper {
    background-color: transparent !important;
    min-height: 470px;
}

div.stepper-content {
    min-height: 320px;
}

#selected-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #000;
}

button#register {
    background-color: #4CAF50;
    color: white;
}