<ng-container *ngIf="!payload?.isMatMenu; else otherTemplate">
    <button mat-button class="router-button" [class]="this.payload?.isSidenav ? 'w-100 justify-content-start' : ''" [routerLink]="payload?.route" [disabled]="isActive('/' + payload?.route)"
    (click)="payload?.route === 'profile' ? navigateToProfile() : null">
        <mat-icon *ngIf="payload?.icon">{{ payload?.icon }}</mat-icon>
        {{ "APP.MENU." + payload?.localReference | translate }}
    </button>
</ng-container>

<ng-template #otherTemplate>
    <button mat-menu-item class="router-button w-100 justify-content-left" [routerLink]="payload?.route"
        [disabled]="isActive('/' + payload?.route)" (click)="payload?.route === 'profile' ? navigateToProfile() : null">
        <mat-icon *ngIf="payload?.icon">{{ payload?.icon }}</mat-icon>
        {{ "APP.MENU." + payload?.localReference | translate }}
    </button>
</ng-template>