@use 'sass:map';
@use '@angular/material' as mat;
@use 'styles/custom-theme' as custom;

body {
    margin: 0;
}

app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    @include mat.button-overrides((outlined-container-shape: none,
            text-container-shape: none,
            protected-container-shape: none,
            filled-container-shape: none));
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

$app-components: "app-auth, app-home, app-books, app-book-item, app-mylist, app-profile, app-summaries, app-summary-item, app-not-found";

@each $tag in $app-components {
    #{$tag} {
        display: flex;
        align-self: stretch;
        width: 100%;

        .wrapper {
            display: flex;
            flex: 1;
            width: 100%;
            align-items: center;
            animation: fadeIn 300ms ease-in forwards;

            .wrapper-content {
                display: block;
                width: 100%;
                align-self: start;
            }
        }
    }
}

:root {
    @include mat.sidenav-overrides((container-width: 150px,
            container-shape: none));
}

html,
body {
    @include mat.core();

    @include mat.theme((color: (primary: custom.$primary-palette,
                tertiary: custom.$tertiary-palette,
            ),
            typography: mat-typography-config(roboto-font),
            density: 0));

    & {
        background-color: custom.$bg-color-light;
        color: custom.$text-color-light;
    }
}

.darkMode {
    @include mat.theme((color: (primary: custom.$primary-palette,
                theme-type: dark,
            ),
        ));

    & {
        background-color: custom.$bg-color-dark;
        color: custom.$text-color-dark;
        transition: background-color .3s ease, color .3s ease;
    }
}

body {
    --eye-filter: ;
    --cb-filter: ;
    filter: var(--eye-filter) var(--cb-filter);
    transition: background-color .3s ease, color .3s ease;
}

.eyeSaverMode {
    --eye-filter: sepia(0.6) saturate(1.2) contrast(0.9) brightness(0.9);
}

.colorblind-red-green {
    --cb-filter: hue-rotate(-20deg) saturate(6) contrast(0.9);
}

.colorblind-blue-yellow {
    --cb-filter: hue-rotate(180deg) saturate(5);
}

.colorblind-monochrome {
    --cb-filter: grayscale(1) contrast(1.2);
}