@use 'sass:map';
@use '@angular/material' as mat;
@use 'styles/custom-theme' as custom;

body {
    margin: 0;
}

app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    @include mat.button-overrides((outlined-container-shape: none,
            text-container-shape: none,
            protected-container-shape: none,
            filled-container-shape: none));            
}

$app-components: "app-auth, app-home, app-books, app-book-item, app-mylist, app-profile, app-summaries, app-summary-item, app-not-found";

@each $tag in $app-components {
    #{$tag} {
        display: flex;
        align-self: stretch;
        width: 100%;

        .wrapper {
            display: flex;
            flex: 1;
            width: 100%;
            align-items: center;
            .wrapper-content{
                display: block;
                width: 100%;
                align-self: start;
            }
        }
    }
}

:root {
    @include mat.sidenav-overrides((container-width: 150px,
            container-shape: none));
}

html,
body {
    @include mat.core();

    @include mat.theme((color: (primary: custom.$primary-palette,
                tertiary: custom.$tertiary-palette,
            ),
            typography: mat-typography-config(roboto-font),
            density: 0));

    & {
        background-color: custom.$bg-color-light;
        color: custom.$text-color-light;
    }
}

.darkMode {
    @include mat.theme((color: (primary: custom.$primary-palette,
                theme-type: dark,
            ),
        ));

    & {
        background-color: custom.$bg-color-dark;
        color: custom.$text-color-dark;
    }
}