body {
    .not-found-img {
        border-bottom: 5px solid #000;
    }

    &.darkMode .not-found-img {
        border-bottom: 5px ridge #fff;
    }
}

.spinner-wrapper {
    position: relative;
    display: inline-block;
}

.spinner-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    pointer-events: none;
}

#not-found-quote {
    font-weight: normal;
    font-size: 1.5rem;
    font-style: italic;
    margin: 1rem;
}

#redirect{
    font-weight: bold;
}