<app-navbar (sidenavToggleClicked)="drawer.toggle()" (languageTogglerTriggered)="changeLanguage($event)"></app-navbar>
<mat-drawer-container autosize hasBackdrop="true">
    <mat-drawer #drawer mode="over" (window:resize)="drawer.opened=false">
        <div class="sidenav-column">
            @for (btn of sidenavButtons; track $index) {
                @if (btn.route == "login") {
                <hr>
                }
                <button mat-button [routerLink]="btn.route" (click)="drawer.opened=false">
                    <mat-icon>{{ btn.icon }}</mat-icon>
                    {{ 'APP.MENU.'+btn.label| translate}}
                </button>
            }
        </div>
    </mat-drawer>

    <div>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>