<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" type="line-scale">
    <p style="font-size: 20px; color: white">{{ "APP.SPINNER" | translate }}</p>
</ngx-spinner>
<app-navbar (sidenavToggleClicked)="drawer.toggle()"></app-navbar>
<mat-drawer-container autosize hasBackdrop="true">
    <mat-drawer #drawer mode="over" (window:resize)="drawer.opened=false">
        <div class="sidenav-column">
            <router-button [payload]="{ route: 'home', icon: 'home', localReference: 'HOME' }"
                (click)="drawer.opened=false"></router-button>
            <router-button [payload]="{ route: 'books', icon: 'library_books', localReference: 'BOOKS' }"
                (click)="drawer.opened=false"></router-button>
            <router-button [payload]="{ route: 'summaries', icon: 'notes', localReference: 'SUMMARIES' }"
                (click)="drawer.opened=false"></router-button>
            @if(authService.getloggedInUser && ['user', 'editor', 'admin'].includes(authService.getloggedInUser.role)){
            <router-button [payload]="{ route: 'mylist', icon: 'list_alt', localReference: 'MYLIST' }"
                (click)="drawer.opened=false"></router-button>
            }
            <hr>
            @if(!authService.getloggedInUser){
            <router-button [payload]="{ route: 'auth/login', icon: 'login', localReference: 'LOGIN' }"
                (click)="drawer.opened=false"></router-button>
            <router-button [payload]="{ route: 'auth/register', icon: 'person_add', localReference: 'REGISTER' }"
                (click)="drawer.opened=false"></router-button>
            } @else{
            <mat-accordion>
                <mat-expansion-panel hideToggle #panel class="mat-elevation-z0">
                    <mat-expansion-panel-header class="ps-2">
                        <mat-panel-title>
                            <div class="avatar-wrapper me-1">
                                <img [src]="this.authService.getloggedInUser.profile_image" alt="Profile Picture"
                                    class="rounded-circle">
                            </div>
                            <span>{{ this.authService.getloggedInUser.username | truncate }}</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <router-button [payload]="{ route: 'profile', icon: 'person', localReference: 'PROFILE.PAGE' }"
                        (click)="drawer.opened=false; panel.close()"></router-button>
                    <router-button [payload]="{ route: 'exit', icon: 'exit_to_app', localReference: 'PROFILE.LOGOUT' }"
                        (click)="drawer.opened=false; panel.close(); this.authService.logOut()"></router-button>
                </mat-expansion-panel>
            </mat-accordion>
            }
        </div>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>
<app-footer></app-footer>