@use '@angular/material' as mat;

mat-drawer {
    @include mat.button-overrides((outlined-container-shape: none,
            text-container-shape: none,
            protected-container-shape: none,
            filled-container-shape: none));

    .sidenav-column {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0;

        button {
            text-align: center;

            mat-icon {
                margin: 0, auto;
            }
        }
    }
}

.mat-drawer-container {
    background-color: transparent !important;
    flex-grow: 1;
    display: flex !important;
    flex-direction: column !important;
    overflow: hidden;

    .mat-drawer-content {
        flex-grow: 1;
        display: flex;
        overflow: auto !important;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100% !important;
    }
}