@use '@angular/material' as mat;

mat-drawer {
    min-width: fit-content;
    .sidenav-column {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0;

        router-button {
            min-width: 100% !important;
        }
    }
}

mat-accordion {
    @include mat.expansion-overrides((
        container-shape: 'none',
    ));
}

.mat-drawer-container {
    background-color: transparent !important;
    flex-grow: 1;
    display: flex !important;
    flex-direction: column !important;
    overflow: hidden;

    .mat-drawer-content {
        flex-grow: 1;
        display: flex;
        overflow: auto !important;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100% !important;
    }
}