<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" type="line-scale">
    <p style="font-size: 20px; color: white">{{ "APP.SPINNER" | translate }}</p>
</ngx-spinner>
<app-navbar (sidenavToggleClicked)="drawer.toggle()"></app-navbar>
<mat-drawer-container autosize hasBackdrop="true">
    <mat-drawer #drawer mode="over" (window:resize)="drawer.opened=false">
        <div class="sidenav-column">
            <button mat-button routerLink="home" (click)="drawer.opened=false">
                <mat-icon>home</mat-icon>
                {{ 'APP.MENU.HOME' | translate}}
            </button>
            <button mat-button routerLink="books" (click)="drawer.opened=false">
                <mat-icon>library_books</mat-icon>
                {{ 'APP.MENU.BOOKS' | translate}}
            </button>
            <button mat-button routerLink="summaries" (click)="drawer.opened=false">
                <mat-icon>notes</mat-icon>
                {{ 'APP.MENU.SUMMARIES' | translate}}
            </button>
            @if(authService.getloggedInUser && ['user', 'editor', 'admin'].includes(authService.getloggedInUser.role)){
                <button mat-button routerLink="mylist" (click)="drawer.opened=false">
                    <mat-icon>list_alt</mat-icon>
                    {{ 'APP.MENU.MYLIST' | translate}}
                </button>
            }
            <hr>
            @if(!authService.getloggedInUser){
                <button mat-button routerLink="auth/login" (click)="drawer.opened=false">
                    <mat-icon>login</mat-icon>
                    {{ 'APP.MENU.LOGIN' | translate}}
                </button>
                <button mat-button routerLink="auth/register" (click)="drawer.opened=false">
                    <mat-icon>person_add</mat-icon>
                    {{ 'APP.MENU.REGISTER' | translate}}
                </button>
            } @else{                
                <button mat-button (click)="drawer.opened=false; authService.logOut()">
                    <mat-icon>home</mat-icon>
                    {{ 'APP.MENU.LOGOUT' | translate}}
                </button>
            }
        </div>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>
<app-footer></app-footer>