<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header class="py-3">
        <div class="row w-100">
            <ng-container [ngSwitch]="payload?.type">
                <ng-container *ngSwitchCase="'user'">
                    <div class="col-12 col-sm-4 d-flex">
                        <img [src]="this.payload?.item.imageUrl ?? this.payload?.item.profile_image" alt="Profile Image"
                            class="avatar-image my-auto me-2">
                        <mat-panel-title> {{ payload?.item.username }}</mat-panel-title>
                    </div>
                    <div class="col-12 col-sm-4">
                        <mat-panel-description> {{ payload?.item.role }}</mat-panel-description>
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="'book'">
                    <div class="col-12 col-sm-4">
                        <mat-panel-title>{{ payload?.item.title }}</mat-panel-title>
                    </div>
                    <div class="col-12 col-sm-4">
                        <mat-panel-description>{{ payload?.item.author }}</mat-panel-description>
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="'review'">
                    <div class="col-12 col-sm-4">
                        <mat-panel-title>{{ payload?.item.user.username }}</mat-panel-title>
                    </div>
                    <div class="col-12 col-sm-4">
                        <mat-panel-description>{{ payload?.item.score }}</mat-panel-description>
                    </div>
                </ng-container>

            </ng-container>

            <div class="col-12 col-sm-4">
                <div class="d-flex justify-content-end">
                    <button mat-mini-fab class="edit me-1" (click)="$event.stopPropagation()">
                        <mat-icon class="mx-auto">edit</mat-icon>
                    </button>
                    <button mat-mini-fab class="delete" (click)="$event.stopPropagation()">
                        <mat-icon class="mx-auto">delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-expansion-panel-header>

    <div [ngSwitch]="payload?.type">
        <p *ngSwitchCase="'user'">{{ payload?.item.created_at | localizedDate }}</p>

        <ng-container *ngSwitchCase="'book'">
            <p>{{ payload?.item.release | localizedDate }}</p>
            <p>{{ payload?.item.genre }}</p>
        </ng-container>

        <p *ngSwitchCase="'review'">{{ payload?.item.content }}</p>
    </div>
</mat-expansion-panel>