.avatar-image {
    width: 25px;
    height: 25px;
}

mat-expansion-panel-header {
    height: fit-content !important;
}

body {
    #item-panel {
        border-bottom: 1px solid rgb(0, 0, 0);
    }

    .book-cover{
        border: 4px ridge rgb(0, 0, 0);
    }

    &.darkMode {
        #item-panel {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }

        .book-cover{
            border: 4px ridge rgba(255, 255, 255, 0.5);
        }
    }


}

.desc {
    text-align: justify;
    max-height: 150px;
    overflow-y: auto;
    scrollbar-width: thin;
}

